<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <!-- hhttps://favicon.io/emoji-favicons/hot-dog/ -->
    <link href="/static/favicon.ico" rel="icon">

    <link href="/static/styles.css" rel="stylesheet">

    <script src="{{url_for('static', filename='script.js')}}"></script>

    <title>Joes Hotdogs</title>

</head>

<body>
<div>
    <ul>
        <li><a href="/associative">Associative Array</a></li>
        <li><a href="/simple">Simple Object Format</a></li>
        <li><a href="/function">Function Object</a></li>
        <li><a href="/usingClass">Using a Class</a></li>
    </ul>
</div>
</body>

</html>